<mat-card class="mainPage">
  <mat-toolbar><h1 style="color: orange;">ToDo App</h1></mat-toolbar>

  <br>
  
    <app-input-form (onAddTask)="addTask($event)" style="margin:5px"></app-input-form>
    <br>
    <app-to-do-list [TasksList]="Tasks" [editIndex]="edits" 
                    (onDeleteTask)="deleteTask($event)"
                    (onEdit)="editTask($event)"
                    (onCancelEdit)="cancelEdit($event)"
                    (onSaveEdit)="saveEdit($event)"
                    (onCompleteTask)="completeTask($event)"
                    style="margin:5px"></app-to-do-list>
    <br>

  <mat-card style="margin:5px">
    <mat-card-header>
      <mat-card-title style="color: orange;">Completed Tasks</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div *ngIf="completedTasks.length == 0">
        <h3>No tasks completed</h3>
      </div>

      <div *ngIf="completedTasks.length >0">
        <mat-list role="list" *ngFor="let task of completedTasks">
          <mat-list-item role="list-item"> {{task.description}}, {{ task.priority }}, {{ task.dueDate}} </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  
</mat-card>