<div>
    <Button type="button" [routerLink]="['/list', searchChar]">BACK TO SEARCH </Button>
</div>
<div *ngIf="hero" style="width: 400px; margin-top: 10px">
    
    <img src="{{ hero.image }}" alt="" style="max-width: 100%;">
    <h2 class="spread"> <span>{{hero.name}}</span> 
        <button type="button" (click)="addComment(hero)">COMMENT</button> 
    </h2>
    <h4 *ngIf="hero.description">Description: {{ hero.description }}</h4>
    <h4 *ngIf="!hero.description"> Description: NA </h4>


    <div *ngFor="let c of commentsList" class="commentsBox">
        Comments: {{ c.comments}}
    </div>
</div>


