.post{
    border-radius: 5px;
    width: 250px;
}

.image{
    width: 200px;
    border-radius: 10px;
}

.newPostButton{
    padding: 10px;
    background-color: lightskyblue;
}

.newPostButton:hover{
    background-color: aqua;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.mainPage{
    width: 280px;
}