<button type="button" [routerLink]="['addPost']">NEW POST</button>
<br><br>
<div *ngFor="let text of allTexts, let idx=index" class="post" >
    
    <h3>Title: {{ text.title}} </h3>
    <img src="{{ createUrl(text.id) }}" alt="" class="image">
  
     <h4> 
      Caption: {{ text.text }} <br>
    </h4>
    <div>
      <button type="button" (click)="like( text.id )">LIKE</button><span>{{ text.likes }}</span>
      &nbsp;
      <button type="button" (click)="dislike(text.id)">DIS-LIKE</button><span>{{ text.dislikes }}</span>
    </div>
</div>
