<div style="border: 1px solid black; padding: 10px">
    <h2>Confirmation</h2>

    <div>
        <div *ngIf="sellerItem">
            <img src="{{ sellerItem.image }}" alt="">
            <span> {{ sellerItem.image }}</span>

        </div>
        <div *ngIf="sellerItem">
            <table>
                <tr>
                    <td>Post Id:</td>
                    <td>{{sellerItem.id}}</td>
                </tr>
                <tr>
                    <td>Post Date:</td>
                    <td>{{sellerItem.date}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{sellerItem.name}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ sellerItem.email}} </td>
                </tr>
                <tr>
                    <td>phone:</td>
                    <td>{{ sellerItem.phone}} </td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>{{ sellerItem.title}} </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ sellerItem.description}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" [routerLink]="['']">CANCEL</button>
                        &nbsp;
                        <button type="button" (click)="confirmPost(sellerItem.id )">CONFIRM</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>  